<a href="index.html" class="logo d-flex align-items-center me-auto">
    <h1 class="sitename">Luminaria</h1>
</a>

<nav id="navmenu" class="navmenu">
    <ul>
        <li>
            <a href="index.html#hero" class="active">Home</a>
        </li>
        <li>
            <a href="index.html#about">Story</a>
        </li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>

<a class="btn-getstarted" href="index.html#about">Purchase</a>