<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link href="bootstrap/bootstrap-icons.css" rel="stylesheet">
    <link href="aos/aos.css" rel="stylesheet">
    <link href="glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css"/>
    <link rel="stylesheet" href="Lunar.Poker.Aspire.Web.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <title>Luminaria</title> 
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="main.js"></script>
<script src="aos/aos.js"></script>
<script src="glightbox/js/glightbox.min.js"></script>
<script src="swiper/swiper-bundle.min.js"></script>
</body>

</html>